#npc{
    z-index: 20;
    width: 90px;
    height: 80px;
    top: -182%;
    right: 700px;
    position: relative;
    background: url('../../sprite/game-runner/npc/npc.png');
    background-position: 0 100px;   
}

.npc-run{
    background: url('../../sprite/game-runner/npc/npc.png');
    animation: npc-run-left 1.75s steps(6) infinite;
}

@keyframes npc-run-left{
    0% {background-position: 0 100px;
    right: -90%}
    25% {background-position: 600px 100px;
    right: -65%}
    50% {background-position: 0 100px;
    right: -50%}
    75% {background-position: 600px 100px;
    right: -25%}
    85% {background-position: 0 100px;
    right: -15%}
    100% {background-position: 600px 100px;
    right: 5%}   
}