#game-runner {
    width: 80%;
    height: 350px;
    margin: .5% auto;
}

#score {
    top: 1%;
    z-index: 100;
    color: white;
    position: relative;
    text-align: center;
    font-weight: bold;
}

#game-info{
    z-index: 120;
    color: white;
    position: relative;
    text-align: center;
    top: 5%;
}

.no-visibility{
    visibility: hidden;
}

.info-endgame{
    margin: 0;
    font-size: 3em;
}

#building {
    position: relative;
    height: 250px;
    z-index: 3;
    bottom: 0%;
    background: url('../../img/scene-runner/building.png');
}

.building-animation {
    animation: building-animation 20s linear infinite;
}

#background-sky {
    position: relative;
    z-index: 1;
    height: 400px;
    background: url('../../img/scene-runner/background-sky.jpg');
}

.background-sky-animation {
    animation: background-sky-animation 25s linear infinite;
}

#ground {
    position: relative;
    height: 50px;
    z-index: 3;
    bottom: 3%;
    background: url('../../img/scene-runner/ground.png');
}

.ground-animation {
    animation: ground-animation 8s linear infinite;
}

@keyframes ground-animation {
    100% {
        background-position: -1920px 0;
    }
}

@keyframes building-animation {
    100% 
    {
        background-position: -857px 0
    }
}

@keyframes background-sky-animation {
    0% {
        background-position: 0 300px;
    }
    100% {
        background-position: -1200px 300px;
    }
}