#game-runner {
    width: 60%;
    height: 450px;
    margin: auto;
}

#score {
    z-index: 100;
    color: white;
    position: relative;
    text-align: center;
    top: 1%;
    font-weight: bold;
}

#game-info{
    z-index: 120;
    color: white;
    position: relative;
    text-align: center;
    top: 5%;
}

.no-visibility{
    visibility: hidden
}

.info-endgame{
    margin: 0;
    font-size: 3em;
}

#building {
    position: relative;
    height: 250px;
    z-index: 10;
    background: url('../../img/scene-runner/building.png');
}

.building-animation {
    animation: building-animation 25s linear infinite;
}

#background-sky {
    position: relative;
    top: -465px;
    z-index: 5;
    height: 450px;
    background-size: cover;
    background: url('../../img/scene-runner/background-sky.jpg');
}

.background-sky-animation {
    animation: background-sky-animation 60s linear infinite;
}

#ground {
    position: relative;
    top: -105%;
    height: 100px;
    z-index: 100;
    background-size: cover;
    background: url('../../img/scene-runner/ground.png');
}

.ground-animation {
    animation: ground-animation 10s linear infinite;
}

@keyframes ground-animation {
    100% {
        background-position: -1920px;
    }
}

@keyframes building-animation {
    100% 
    {
        background-position: -857px
    }
}

@keyframes background-sky-animation {
    100% {
        background-position: -1920px
    }
}